<div fxLayout="row" 
    fxLayoutAlign="center center"
    [style.height]="'70vh'">
    <mat-card class="mat-elevation-z4" 
        fxFlex="25"
        fxFlex.lt-md="50"
        fxFlex.lt-sm="100"
        fxLayout="column"
        fxLayoutGap="70px"
        [style.padding]="'45px'"
        [style.margin]="'10px'">
        <mat-card-title fxLayoutAlign="center center"> 
              <mat-icon>people_alt</mat-icon>
        </mat-card-title>
    
        <mat-card-content>
            <form (ngSubmit)="login()" [formGroup]="miFormulario" autocomplete="off">
                <div fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" placeholder="Usuario" formControlName="usuNombre">
                        <mat-error *ngIf="validarService.campoEsValido('usuNombre')">{{validarService.getMensaje('usuNombre')}}</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" placeholder="Contraseña" formControlName="usuPass">
                        <mat-error *ngIf="validarService.campoEsValido('usuPass')">{{validarService.getMensaje('usuPass')}}</mat-error>
                    </mat-form-field>

                    <div fxLayoutAlign="center center" fxFlex="100">
                        <button type="submit" 
                            mat-raised-button 
                            color="primary"
                            fxFlex="100">
                            Entrar
                        </button>
                    </div>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>